.navBar {
  background-color: blue
}

.appContainer {
  height: 95vh;
  width: 100vw;
}
.routeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100%;
  width: 100%;
}

.homeContainer {
  background-color: green;
  text-align: center;
  height: 50vh;
  width: 50vw;
  ;
}

.loginBox {
  margin-top: 5em;
}